<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FutureNet Michał Wosztyl</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <script src="https://use.fontawesome.com/dd8b72afbc.js"></script>
</head>
<body>
    <div class="site-top">
        <div class="container">
            <div class="about-author-image">
                <div class="image-shadow"></div>
                <img src="~/Assets/img/michal.jpg" />
            </div>
            <div class="about-author">
                <div class="about-author-name">
                    MICHAŁ WOSZTYL
                </div>
                <div class="about-author-tags">
                    #coach #przedsiębiorca #szczęśliwy#mąż
                    <i class="fa fa-envelope" aria-hidden="true"></i> kontakt@futureNet.net<br/>
                    <i class="fa fa-phone-square" aria-hidden="true"></i> +48 666 487 754
                </div>
            </div>
            <div class="logo">
                <div class="logo-social-media">
                    <i class="fa fa-youtube fa-2x" aria-hidden="true" href="#"></i>
                    <i class="fa fa-facebook fa-2x" aria-hidden="true"></i>
                </div>
                <div class="logo-image">
                    <img src="~/Assets/img/FN_LOGO_mini.png" />
                </div>
            </div>
        </div>
    </div>
    <div class="fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container">
        <div class="body-content">
            @RenderBody()
        </div>
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/site.js")
    @RenderSection("scripts", required: false)
</body>
</html>
